/* Footer.css */

.footer {
position: absolute;
width:100vw;
bottom: 0;

text-align: center;
justify-self: end;
    border: 12px solid #e9ecef;
  }
  
  .footer-title {
    margin: 0;
    padding: 4px;
    color: #343a40;
  }
  